.error ul {
  padding-left: 0;
}
li.error_message {
  list-style: none;
  line-height: 30px;
  background-color: #cc3f44;
  color: #fff;
  padding: 0 10px;
  font-size: 14px;
  margin-bottom: 3px;
}
.fa-times-circle:before {
  margin-right: 5px;
}
    
.page-error-search {
    width: 300px;
    float: right;
    margin-bottom: 20px;
  }
.page-error-search form.form-half {
  width: 100%;
}

.gallery-env .album-images .album-image .name {
  float: left;
  width: 100%;
  margin: 0 !important;
}

span.store_block_option {
  color: #8dc63f !important;
  float: right;
}

span.store_block_option i.fa-money {
  margin-right: 3px;
}

.inistalled {
  position: relative;
  padding: 10px;
  background: silver !important;
  margin-bottom: 20px;
  opacity: 0.7;
}

.gallery-env .gallery-sidebar ul {
    margin:0;
}

.sidebar_store_list{
    padding: 0;
}

.sidebar_store_list li{
    list-style: none;
    display:block;
    margin-bottom:5px;
}

.sidebar_store_list li a{
  border-bottom: 0 !important;  
  padding-left:15px !important;
}

.wishlist_store{
    background-color: #d5080f !important;
    color: #fff !important;
    line-height: 0px;
    width: 100%;
}

.balance_store{
    background-color:#8dc63f !important;
    color: #fff !important;
    line-height: 0px;
    width: 100%;
}

.badge-money{
   color:#8dc63f !important;
   float:right;
}

.bage_wishlist{
    color:#d5080f !important;
    float:right;
}

.notification_menu{
    font-size:18px !important;
}

.module_oprations {
  float: left;
  width: 100%;
  margin: 15px 0;
}

.update_operations{
    float:right;
}

.unistall_operations{
    float: left;
} 

.module_description {
  float: left;
  padding-bottom: 15px;
  margin-bottom:15px;
  border-bottom: 1px solid #ddd;
}

.album-images row module_imgs{
    float: left;
}
article{
    float:left;
}

.profile-env {
  float: left;
  margin: 0 15px !important;
}
.load_more{
    color: #8dc63f  !important;
}

.name{
    margin: 15px 0 !important;
}
span.name{
    margin: 15px 0 !important;
}
.panel-options-review {
  margin: 10px 0;
  text-align: center;
  float: left;
  width: 100%;
  cursor: pointer;
}
.btn+.btn {
  margin-left: 0;
}
.add_review i {
  font-size: 40px;
  color: #68b828;
}
.col-sm-12.add_review {
  text-align: center;
}
.col-sm-12.add_review i{
    cursor: pointer;
}
.Patient-title{
    color:#68b828 !important;
}
.patient-details-title {
  font-weight: bold;
  color: #777;
}
.modal-content.patient {
  min-height: 300px;
}
.patient-block-details {
  float: left;
  width: 100%;
  margin: 10px 0;
}
.patient-group-separator {
  display: block;
  border-bottom: 1px solid #dedede;
  float: left;
  width: 100%;
  margin: 10px 0;
}
a.patient-name {
  color: #68b828 !important;
  font-size: 17px;
}
a.patient-name:hover{
    text-decoration: underline;
}
 .select-disease {
  width: 80% !important;
  margin-left: 15px !important;
}
.cancel-button{
    float:right;
    margin-left: 10px;
}
.add-patient-option{
    color:#fff !important;
    margin-left: 0 !important;
}
.add-patient-option-span{
    text-align: center ;
    margin-top:10px ;
    color:#979898;
}
.to-show-exception-time {
  margin: 15px 0;
  float: left;
  display: none;
}
/*.list-unstyled {
  padding-left: 0;
  list-style: none;
  float: left;
  width: 100%;
}*/
.user-info-list li{
    margin-bottom: 10px;
}
.margin-10 {margin-bottom: 10px}
.user-info-navbar .user-info-menu>li>a {
   border:none;
}